/* Global */

input{
  height: 100%;
  border-radius: 0.5rem;
  border: none;
  font-size: 2.5rem;
  text-align: right;
  background-color: var(--Very-light-grayish-cyan);
  font-family: 'Space Mono', monospace;
  color: var(--Very-dark-cyan);
  border: 0.2rem solid var(--Very-light-grayish-cyan);
  padding-right: 1rem;
  height: 5rem;
  width: 100%;
  transition: border 0.5s;
}

input:focus{
  border: 0.2rem solid var(--Strong-cyan);
  outline: none;
}

input::placeholder{
  color: var(--Grayish-cyan);
}

.input-icon{
  position: absolute;
  z-index: 1;
  top: 1.7rem;
  left: 2rem;
}

/* End Global */

.Calculator{
  width: 92rem;
  height: 48rem;
  background-color: var(--White);
  border-radius: 2rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

/* LEFT CONTAINER */

.left-container{
  padding: 5rem;
  text-align: left;
  color: var(--Dark-grayish-cyan);
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Bill */

.bill-input-container{
  margin-top: 0.5rem;
  position: relative;
}

/* End Bill */

/* Select Tip */

.input-selectTip-container{
  margin-top: 0.5rem;
  display: grid;
  grid: repeat(2, auto) / repeat(3, auto);
  gap: 1.5rem;
}

.btn-tip{
  width: 11.5rem;
  height: 5rem;
  position: relative;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--Very-dark-cyan);
  color: var(--White);
  font-size: 2.3rem;
  letter-spacing: 0.1rem;
  text-indent: 0.1rem;
  font-family: 'Space Mono', monospace;
  cursor: pointer;
}

.btn-tip:hover{
  background-color: var(--Light-grayish-cyan);
  color: var(--Very-dark-cyan);
  transition: all 0.1s;
}


/* End Select Tip */

/* Number of people */

.numberOfPeople-input-container{
  margin-top: 0.5rem;
  position: relative;
}

.error-container{
  display: flex;
  justify-content: space-between;
}

.error-msg{
  color: var(--error);
  animation: error 1s infinite;
}

@keyframes error{
  0% {
    opacity: 0.2;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0.2;
  }
}

/* End Number of people */

/* RIGHT CONTAINER */

.right-container{
  background-color: var(--Very-dark-cyan);
  min-height: 42rem;
  height: 42rem;
  min-width: 41.5rem;
  border-radius: 2rem;
  padding: 5rem 3rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  text-align: left;
  margin: 3rem 3rem 3rem 0;
}

.Total{
  display: flex;
  justify-content: space-between;
}

.TipAmount{
  display: flex;
  justify-content: space-between;
}

.total-quantity{
  color: var(--White);
}

.total-person{
  color: var(--Grayish-cyan);
}

.total-result{
  color: var(--Strong-cyan);
  font-size: 5rem;
  line-height: 4.5rem;
}

.btn-reset{
  margin-top: auto;
  border: none;
  height: 5rem;
  font-family: 'Space Mono', monospace;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.5rem;
  background-color: var(--Strong-cyan);
  cursor: pointer;
  color: var(--Very-dark-cyan);
}

.btn-reset:hover{
  background-color: var(--Light-grayish-cyan);
  transition: background 0.1s;
}

.btn-reset:disabled {
  margin-top: auto;
  border: none;
  height: 5rem;
  font-family: 'Space Mono', monospace;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.5rem;
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
  opacity: 0.4;
  cursor: unset;
}

.btn-reset:disabled:hover{
  background-color: var(--Strong-cyan);
}
