.Calculator{
  width: 92rem;
  height: 48rem;
  background-color: var(--White);
  border-radius: 2rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

/* LEFT CONTAINER */

.left-container{
  height: 42rem;
  width: 41.5rem;
  border-radius: 2rem;
}

.tip{
  width: 12rem;
  height: 5rem;
  position: relative;
  border: none;
  font-family: 'Space Mono', monospace;
}

.tip:hover{
  background-color: white;
}

/* RIGHT CONTAINER */

.right-container{
  background-color: var(--Very-dark-cyan);
  min-height: 42rem;
  height: 42rem;
  width: 41.5rem;
  border-radius: 2rem;
  padding: 5rem 3rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  text-align: left;
}

.Total{
  display: flex;
  justify-content: space-between;
}

.TipAmount{
  display: flex;
  justify-content: space-between;
}


.total-quantity{
  color: var(--White);
}

.total-person{
  color: var(--Grayish-cyan);
}

.total-result{
  color: var(--Strong-cyan);
  font-size: 5rem;
  line-height: 4.5rem;
}

.btn-reset{
  margin-top: auto;
  border: none;
  height: 5rem;
  font-family: 'Space Mono', monospace;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.5rem;
  background-color: var(--Strong-cyan);
  cursor: pointer;
  color: var(--Very-dark-cyan);
}

.btn-reset:hover{
  background-color: var(--Light-grayish-cyan);
  transition: background 0.1s;
}

.btn-reset-unselect{
  margin-top: auto;
  border: none;
  height: 5rem;
  font-family: 'Space Mono', monospace;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.5rem;
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
  opacity: 0.4;
}