html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  font-size: 1.6rem;
  background-color: var(--Light-grayish-cyan);
  font-family: 'Space Mono', monospace;
  text-align: center;
}

.title{
  color: var(--Very-dark-cyan);
  margin: 16rem 0 9rem;
}

